body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-size: 25px;
}

.form {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form div {
    margin: 10px;
}

.form input {
    margin: 10px;
    width: 100%;
}

.result {
    margin-top: 20px;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result div {
    margin: 10px
}